
.container{
    width: 30% !important;
    padding-top: 2%;
    border-style: solid;
    border-color: #4B0082;
    background-color: #ffffff;
}

.heading{
    font-family: 'Times New Roman', Times, serif;
  }
  .input_value{
      display: none;
  }

  .create_team_form{
      display: flex;
      justify-content: center;
  }

  input[type="file"] {
    display: none;
}   
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin: 5px;
    cursor: pointer;
}
.heading{
    font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #222222;
    line-height: 20px;
}
.textField{
    font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif !important;
}
.CreateTeams{
    padding: 5% 4% 0% 4%;
}
